<div class="d-flex justify-content-end position-relative search-section mb-3">
  <label for="search" class="me-3">Search: </label>
  <input type="text" class="pe-3" [(ngModel)]="searchTerm" id="search" (ngModelChange)="search()">
  <i (click)="clearSearch()" class="bi bi-x-circle-fill close-icon position-absolute"></i>
</div>
<table class="table">
  <thead>
  <tr>
    <th *ngFor="let col of content?.column; trackBy: trackByColFn" [attr.rowspan]="col?.subHeaders? 1 : 2"
        [attr.colspan]="col?.subHeaders ? col?.subHeaders.length : 1">
      <span *ngIf="col?.subHeaders">{{ col?.header }}</span>
      <div *ngIf="!col?.subHeaders" class="sortable-header" (click)="sortColumn(col?.field)">
        {{ col?.header }}
        <i *ngIf="sortMap[col?.field] === 'desc'" class="bi bi-arrow-down"></i>
        <i *ngIf="sortMap[col?.field] === 'asc'" class="bi bi-arrow-up"></i>
      </div>
    </th>
  </tr>
  <tr>
    <th *ngFor="let col of subHeaders; trackBy: trackByColFn">
          <span (click)="sortColumn(col?.field)" class="sortable-header">
            {{ col?.field }}
            <i *ngIf="sortMap[col?.field] === 'desc'" class="bi bi-arrow-down"></i>
            <i *ngIf="sortMap[col?.field] === 'asc'" class="bi bi-arrow-up"></i>
          </span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows; let i = index; trackBy: trackByFn">
    <td *ngFor="let fieldKey of fieldIds; trackBy: trackByFieldKey">
      <span *ngIf="fieldInEdit !== i">{{ row[fieldKey] }} </span>
      <input *ngIf="fieldInEdit === i" class="form-control form-control-sm" type="text" [(ngModel)]="row[fieldKey]">
    </td>
    <td class="edit-buttons">
      <button *ngIf="fieldInEdit === i" (click)="saveRow(i)" class="btn btn-success me-2">
        <i class="bi bi-save-fill"></i>
      </button>
      <button *ngIf="fieldInEdit === i" (click)="cancelEdit()" class="btn btn-secondary">
        <i class="bi bi-x"></i>
      </button>
      <button *ngIf="fieldInEdit !== i" (click)="editRow(i)" class="btn btn-primary me-2">
        <i class="bi bi-pencil"></i>
      </button>
      <button *ngIf="fieldInEdit !== i" (click)="deleteRow(i)" class="btn btn-danger">
        <i class="bi bi-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
