<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="text-center">Add new product</h3>
      <div *ngIf="addSuccess" class="alert alert-success my-3" role="alert">
        The product was added successfully!
      </div>
      <form [formGroup]="form" (submit)="addNewProduct()">
        <div class="form-group mt-3">
          <label for="productName">Product Name</label>
          <input type="text" class="form-control" id="productName" formControlName="productName">
          <div *ngIf="form.get('productName')?.invalid && form.get('productName')?.touched" class="alert alert-danger">
            {{ form.get('productName')?.errors | parseValidationErrors }}
          </div>
        </div>
        <div class="form-group  mt-3">
          <label for="productID">Product ID</label>
          <input type="number" class="form-control" id="productID" formControlName="productID">
          <div *ngIf="form.get('productID')?.invalid && form.get('productID')?.touched" class="alert alert-danger">
            {{ form.get('productID')?.errors | parseValidationErrors }}
          </div>
        </div>
        <div class="form-group  mt-3">
          <label for="productManager">Product Manager</label>
          <input type="text" class="form-control" id="productManager" formControlName="productManager">
          <div *ngIf="form.get('productManager')?.invalid && form.get('productManager')?.touched"
               class="alert alert-danger">
            {{ form.get('productManager')?.errors | parseValidationErrors }}
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="salesStartDate">Sales Start Date</label>
          <div class="input-group">
            <input type="text"
                   class="form-control"
                   id="salesStartDate"
                   formControlName="salesStartDate"
                   placeholder="yyyy-mm-dd"
                   name="dp"
                   ngbDatepicker
                   #d="ngbDatepicker"
            />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
          <div *ngIf="form.get('salesStartDate')?.invalid && form.get('salesStartDate')?.touched"
               class="alert alert-danger">
            {{ form.get('salesStartDate')?.errors | parseValidationErrors }}
          </div>
        </div>
        <div class="action-section mt-3">
          <button type="submit" class="btn btn-primary btn-block me-3">Add</button>
          <button type="button" (click)="resetForm()" class="btn btn-secondary">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
